<section class="page-title bg-2" style="background-image: url('{{ .Params.bg_image | relURL }}');">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <!-- /other theme -->

{{ partial "2header.html" . }}
{{ partial "2sidebar.html" . }}


	{{ if .Site.Data.skills }}{{ partial "2skills.html" . }}{{ end }}
	{{ if .Site.Data.experience }}{{ partial "2experience.html" . }}{{ end }}
	{{ if .Site.Data.services }}{{ partial "2services.html" . }}{{ end }}

{{ partial "2footer-scripts.html" . }}

<!-- /other theme -->

        </div>
      </div>
    </div>
  </div>
</section>


